In [2]:
import pandas as pd

In [3]:
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [4]:
filtered_vine_df = vine_df.loc[(vine_df["total_votes"] >= 20) & (vine_df["helpful_votes"] >= 1)]
filtered_vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
670,R3PZOXA5X1U8KW,4,31,36,N,N
1359,R6KTC1OPIOIIG,2,19,34,N,Y
1402,R36O341WWXXKNP,5,28,31,N,N
1450,R3GSK9MM8DNOYI,1,4,32,N,N

In [5]:
helpful_votes = filtered_vine_df.loc[filtered_vine_df["helpful_votes"] / filtered_vine_df["total_votes"] >= 0.5]
helpful_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [6]:
# separate reviews into ones written as part of the vine program (paid) and ones not (unpaid)
paid_review = helpful_votes.loc[helpful_votes["vine"] == "Y"]
unpaid_review = helpful_votes.loc[helpful_votes["vine"] == "N"]
paid_review.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [7]:
unpaid_review.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [9]:
# determine count of paid reviews
paid_review_count = paid_review["review_id"].count()
paid_review_count

94

In [10]:
# determine count of unpaid reviews
unpaid_review_count = unpaid_review["review_id"].count()
unpaid_review_count

40471

In [13]:
# determine count of 5-star paid reviews
paid_5star = paid_review.loc[paid_review["star_rating"] == 5].count()["review_id"]
paid_5star

48

In [14]:
# determine count of 5-star unpaid reviews
unpaid_5star = unpaid_review.loc[unpaid_review["star_rating"] == 5].count()["review_id"]
unpaid_5star

15663

In [16]:
# determine percent of 5-star reviews that were paid reviews
paid_5star_percent = paid_5star / paid_review_count *100
paid_5star_percent

51.06382978723404

In [17]:
# determine percent of 5-star reviews that were unpaid reviews
unpaid_5star_percent = unpaid_5star / unpaid_review_count *100
unpaid_5star_percent

38.701786464381904